src/main/mule/03_manual.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-manual" doc:id="3f94a97a-d94c-4eff-b664-c74367e90fe0" >
		<http:listener doc:name="GET /manual" doc:id="677affa3-17f6-4ff2-9259-56d59b4f2114" config-ref="HTTP_Listener_config" path="/manual"/>
		<anypoint-mq:publish doc:name="queue-manual" doc:id="d5cf6c41-de95-4af2-9b23-01eefb1f8d42" config-ref="Anypoint_MQ_Config_v4" destination="queue-manual">
			<anypoint-mq:body ><![CDATA[#[output application/json
---
{
	id: correlationId,
	num: randomInt(2)
}]]]></anypoint-mq:body>
		</anypoint-mq:publish>
		<logger level="INFO" doc:name="Logger" doc:id="04f8313f-8703-4f84-b7bd-c2a9b5228e59" message='#["message sent " ++ correlationId]'/>
		<ee:transform doc:name="Transform Message" doc:id="70b2f543-ab05-41b4-af98-f662369fec99" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "ok",
	corr: correlationId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="mq-manual" doc:id="22a39930-c116-403c-8232-c074368b91f7" >
		<anypoint-mq:subscriber doc:name="queue-manual" doc:id="00565658-26e3-47b1-a6d2-2cb5abe3bda1" config-ref="Anypoint_MQ_Config_v4" destination="queue-manual" acknowledgementMode="MANUAL">
			<redelivery-policy maxRedeliveryCount="20" />
		</anypoint-mq:subscriber>
		<set-variable value="#[attributes.ackToken]" doc:name="Set Variable" doc:id="f2f661c8-ad2b-4cb2-b13c-93dd8ba0c59f" variableName="ack"/>
		<logger level="INFO" doc:name="Logger" doc:id="afc779bf-d1b8-4137-8f23-de4e36389cbd" message='#[output application/json&#10;---&#10;{&#10;	"where" : "mq-flow-manual",&#10;	"body" : payload,&#10;	attr: attributes&#10;}]'/>
		<choice doc:name="Choice" doc:id="0b460afa-442f-4906-907f-d4a4204d9d1d" >
			<when expression="#[attributes.deliveryCount &gt; 20]">
				<logger level="INFO" doc:name="OK" doc:id="3ab2cc85-a50e-473f-b361-b794a54406a1" message='#["Redelivery Reached -&gt; Confirm Message"]'/>
				<anypoint-mq:ack doc:name="Ack" doc:id="7248f3ec-9832-4a34-a13e-5c953522de8e" config-ref="Anypoint_MQ_Config_v4" ackToken="#[vars.ack]"/>
			</when>			
			
			<when expression="#[payload.num == 0]">
				<logger level="INFO" doc:name="OK" doc:id="9f3358b9-2661-4c54-8888-db1b4882804a" message='#[payload.id ++ " OK"]'/>
				<anypoint-mq:ack doc:name="Ack" doc:id="aa1a8585-a969-4b53-bbf9-45798b485625" config-ref="Anypoint_MQ_Config_v4" ackToken="#[vars.ack]"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="KO" doc:id="3935024a-cbf1-4bb9-a4b7-6040e0d53616" message='#[payload.id ++ " KO"]'/>
				<anypoint-mq:nack doc:name="Nack" doc:id="fb65bbb5-ec7f-4815-b8af-f1278fb5b5f0" config-ref="Anypoint_MQ_Config_v4" ackToken="#[vars.ack]"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4c3d0f75-e86a-4e9c-9f09-c74d94e67d66" >
				<anypoint-mq:ack doc:name="Ack" doc:id="3e18bb17-12bb-46a0-9eed-a562b295f57f" config-ref="Anypoint_MQ_Config_v4" ackToken="#[attributes.ackToken]" />
				<logger level="INFO" doc:name="Logger" doc:id="36b4d06c-ca20-497d-9d70-c4568a2410d2" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
